<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.HelloMapper">
  <resultMap id="BaseResultMap" type="org.example.entity.SysDatabaseInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="db_name" jdbcType="VARCHAR" property="dbName" />
    <result column="jdbc_driver" jdbcType="VARCHAR" property="jdbcDriver" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="jdbc_url" jdbcType="VARCHAR" property="jdbcUrl" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, db_name, jdbc_driver, user_name, "password", jdbc_url, remarks, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from "sys_database_info"
    where id = #{id,jdbcType=BIGINT}
  </select>
<!--  <select id="selecttest" resultType="org.example.entity.SysDatabaseInfo">-->
<!--    select *-->
<!--    from SysDatabaseInfo-->
<!--    where id = #{id}-->
<!--</select>-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from "sys_database_info"
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.example.entity.SysDatabaseInfo" useGeneratedKeys="true">
    insert into "sys_database_info" (db_name, jdbc_driver, user_name,
      "password", jdbc_url, remarks,
      create_time)
    values (#{dbName,jdbcType=VARCHAR}, #{jdbcDriver,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR}, #{jdbcUrl,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{dstart,jdbcType=Date}, #{dend,jdbcType=Date})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.example.entity.SysDatabaseInfo" useGeneratedKeys="true">
    insert into "sys_database_info"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dbName != null">
        db_name,
      </if>
      <if test="jdbcDriver != null">
        jdbc_driver,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        "password",
      </if>
      <if test="jdbcUrl != null">
        jdbc_url,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dbName != null">
        #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="jdbcDriver != null">
        #{jdbcDriver,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="jdbcUrl != null">
        #{jdbcUrl,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.example.entity.SysDatabaseInfo">
    update "sys_database_info"
    <set>
      <if test="dbName != null">
        db_name = #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="jdbcDriver != null">
        jdbc_driver = #{jdbcDriver,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        "password" = #{password,jdbcType=VARCHAR},
      </if>
      <if test="jdbcUrl != null">
        jdbc_url = #{jdbcUrl,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.example.entity.SysDatabaseInfo">
    update "sys_database_info"
    set db_name = #{dbName,jdbcType=VARCHAR},
      jdbc_driver = #{jdbcDriver,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      "password" = #{password,jdbcType=VARCHAR},
      jdbc_url = #{jdbcUrl,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
